<!-- Footer -->	
    <div class="footer">
        <p>
                <a href="javascript: void(0)" onClick="window.open('http://trydermarose.com/tc.aspx?id=117&type=tc','buttonwin','height=400,width=400,scrollbars=yes,toolbar=no,location=no,screenX=100,screenY=20,top=20,left=100','fullscreen=no'); return false;">Terms &amp; Conditions</a>&nbsp;| <a href="javascript: void(0)" onClick="window.open('http://trydermarose.com/tc.aspx?id=117&type=pp','buttonwin','height=400,width=400,scrollbars=yes,toolbar=no,location=no,screenX=100,screenY=20,top=20,left=100','fullscreen=no'); return false;">Privacy Policy</a> | <a href="javascript: void(0)" onClick="window.open('http://trydermarose.com/tc.aspx?id=117&type=contact','buttonwin','height=400,width=400,scrollbars=yes,toolbar=no,location=no,screenX=100,screenY=20,top=20,left=100','fullscreen=no'); return false;">Contact Us</a> |&nbsp;<a href="http://myeasycancel.com/Dermarose/">Manage My Account</a></p>
        <p>
                Representations regarding the efficacy and safety of Dermarose have not been scientifically substantiated or evaluated by the Food and Drug Administration.<br />
                <a href="http://www.phytocelltec.ch/pctalprose.php?l=en" target="_blank">Click here</a> to find evidence of a test, analysis and research describing the benefits and performance of Dermarose based on the expertise of relevant professionals.</p>
        <p>
                Copyright &copy; 2014</p>
    </div>
<!-- End: Footer -->