/*  Reset:Begin */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0px;padding:0px;}input,select,a img{vertical-align:middle;}a {text-decoration:none;}
img{border:none;}a{cursor:pointer;}.clear{clear:both;}p{margin-bottom:15px;}ul{list-style-type:none;}
/*  Reset:End */
/*  Global Text Styling:Begin */
h1 { }
h2 { }
h3 { }
.red {color:#bb0056; }
.error {
    border: 1px solid #bb0056;
}
.green {color:#008000; }
.highlight {background:#FFFF80; }
.divider {border-bottom:1px solid #cd8098;  margin: 30px 0px;}
/*  Global Text Styling:End */
/*  Global Structure:Begin */
body { background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:21px; color:#000; text-align:center;}
.header-alert {background: #b60050; color: #fff; font-size: 16px; padding: 25px 0px; display: none;}
.safe-purchase-badge {position: fixed; left: 0px; bottom: 0px; width: 145px; height: 100px; background: url('../img/safe-purchase-badge.png') no-repeat; z-index:900; display: none;}
.wrapper {position:relative; width:1001px; margin:0 auto; text-align:left;
 }

.order-block-01 {position:relative; height: 139px; background:url('../img/order_01.jpg') top center no-repeat;}
.order-block-02 {position:relative; background: #fff; padding: 10px 10px 150px 10px;}

.product-summary {position:relative; float:left;  width:605px;  height: 606px; background:url('../img/order_product_summary.jpg') top center no-repeat;}



.form-totals {position: relative; top: 13px; left: 13px; width: 600px; }
.product-description {position: absolute; top: 100px; left: 300px; color:#bb0056; font-size: 16px; line-height: 18px;}
.sub-description {font-size: 12px; color:#545454; }
.product-price {position: absolute; top: 130px; right: 35px;}
.summary-titles {position: absolute; top: 264px; left: 0px; line-height: 34px;}
.summary-totals {position: absolute; top: 264px; right: 35px; line-height: 34px; text-align: right;}
.arrival-date {position: absolute; top: 440px; left: 9px; font-size: 12px; line-height: 14px; background:#ffff99;}
.terms {position:absolute; top: 590px; padding: 10px;  font-size: 12px; line-height: 14px; color: #8e8e8e;}

/*  Index Form:Begin */
.order-form-container {float:right; width:363px; z-index:999;}
.form-top {width:363px; height: 119px; background:url('../img/order_form_top.jpg') top center no-repeat;}
.form-middle {width:363px; background:url('../img/order_form_middle.jpg') top center repeat-y; padding: 30px 0px 0px 0px;}
.form-inner-container {padding: 20px;}
.form-bottom {width:363px; height: 119px; background:url('../img/order_form_bottom.jpg') top center no-repeat;}
.form-bottom p {padding:35px 30px 20px 80px; color:#fff; font-size: 12px; line-height: 16px; }
.error-block {background:#C80000; text-align:center; padding:5px; color:#fff; }
.error-block img {display:block; margin:5px auto;}
.error-block span {display:block; padding:5px;}
.form-title {margin:10px auto; padding-bottom:10px; border-bottom:1px dotted #959595; text-align:center; }
.cc-icons {margin:15px auto;}
.form-element { margin-bottom:2px; }
.form-element label {display:block; float:left; position:relative; top:2px; width:35%; text-align:right; margin-right:10px;}
.form-element .required {position:relative; top:-3px; color:#CC0000; font-size:11px; }
.form-input-full { width:100%; clear:both; }
.form-input-full input {padding:3px; width:55%; text-align:left; }
.form-input-full select {padding:3px; width:58%; text-align:left;  }
.form-input-full input.checkbox { }
.form-input-2col {}
.form-input-2col input {float:left; padding:3px; width:25%; text-align:left; margin-right:10px; }
.form-input-2col select {float:left; padding:3px; width:26%; text-align:left; margin-right:10px; }
.form-input-2col input.checkbox { }
a.security-code {position:relative; top:6px; font-size:11px; color:#000; }
a.security-code:hover {text-decoration:underline; }
.whatiscvv {
   background: url("../img/cvv2.gif") no-repeat scroll 0 0 transparent;
   bottom: 0;
   display: none;
   height: 708px;
   overflow: hidden;
   position: absolute;
   right: 163px;
   width: 179px;
   z-index: 9999;
}
#CC_CVV {
}
.cvv-help {
  position: relative;
  top: 5px;
  color: #444040; 
  font-size: 11px;
}
.form-button {
    display: block;
    padding: 0px!important;
    float: none!important;
    width: 300px!important; 
    height: 72px; 
    background: url('../img/form-button.png');
    border: none;
    margin: 50px auto 0px auto!important;

}
.form-button:hover {
    cursor: pointer;
    background-position:0 -72px;
}
.form-button:focus {outline:0;}
.form-button-shadow {width: 300px; height: 45px; background: url('../img/button-shadow.png') top center; }


/*  Button:Begin */
.button {
    width: 355px; 
    height: 85px; 
    background: url('../img/button.png');
    border: none;
}
.button:hover {
    cursor: pointer;
    background-position:0 -85px;
}
.button:focus {outline:0;}
.button-shadow {width: 355px; height: 45px; background: url('../img/button-shadow.png');position: relative; top: -6px; }

/*  Footer:Begin */
.footer {text-align: center; font-size: 12px; line-height: 14px;}
.footer a {color:#000; text-decoration: underline;}
.footer a:hover {color:#bb0056; }

.button-processing {position: relative; text-align: center; margin: 30px auto;}

.form-input-full .ccv{
    width: 50px;
}